<h3 class="text-center">Report: <%= @mybin.name %> </h3>
<br>

<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Last Collected</th>
        <th scope="col">Capacity</th>
        <th scope="col">Fill/Up Per Day (Avg)</th>
        <th scope="col">Days for Collect (Avg)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @mybin.id %> </th>
        <td><%= @mybin.name %></td>
        <td><%= @mybin.code %></td>
        <td><%= time_ago_in_words(@mybin.last_collected) %> ago</td>
        <td>100 litres</td>
        <td>20 litres</td>
        <td>5 days</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-12">
  <%= line_chart @dustbin_stat.group_by_hour(:collected_at, format: "%b %d %l %P", last: 48).sum("(fill_level_id-1)*10"),
      title: "Fill Up(%) Trending of Last 48 Hours",
      hAxis: {title: "Percentage(%)"},
      vAxis: {title: "Date/Time"},
      colors: ['purple'],
      library: {
        tooltip: {pointFormat: 'Times Bought: <b>{point.y}</b>'}
      }
  %>
</div>

<div class="col-md-12">
  <%= column_chart @dustbin_stat.group_by_day(:collected_at, format: "%b %d", last: 7).sum("20"),
      title: "Capacity(ℓ) per Day of Last 7 Days",
      hAxis: {title: "Litres(ℓ)"},
      vAxis: {title: "Date"},
      colors: ['pink'],
      library: {
        tooltip: {pointFormat: 'Times Bought: <b>{point.y}</b>'}
      }
  %>
</div>

<div class="container">        
  <canvas id="myChart1"></canvas>
</div>

<div class="container">        
  <canvas id="myChart2"></canvas>
</div>

<div class="container">        
  <canvas id="myChart3"></canvas>
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    // Fill Level over time for a single bin 

    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        //these labels will be a time line         
        labels: <%= @hourly_timeline %>,
        // ['Boston', 'Worcester', 'Springfield', 'Lowell', 'Cambridge', 'New Bedford'] ,
        datasets:[{
          label:'Fill Level',          
          data: <%= @fill_level_percentage %>,
          
          //backgroundColor:'green',
          backgroundColor:[
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
          'rgba(153, 102, 255, 0.6)',
          'rgba(255, 159, 64, 0.6)',
          'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Fill Level - Bin 1',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

    // How  long does it take for a bin to fill up
    let myChart2 = document.getElementById('myChart2').getContext('2d');
    let massPopChart2 = new Chart(myChart2, {
      type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        //these labels will be a time line         
        labels: <%= @record_num %>,        
        datasets:[{
          label:'Time it takes to fill up',          
          data: <%= @filled_up_time %>,
          
          //backgroundColor:'green',
          backgroundColor:[
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
          'rgba(153, 102, 255, 0.6)',
          'rgba(255, 159, 64, 0.6)',
          'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Time (in hours) it takes to fill up a bin',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

    // Fill up hourly rate
    let myChart3 = document.getElementById('myChart3').getContext('2d');
    let massPopChart3 = new Chart(myChart3, {
      type:'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        //these labels will be a time line         
        labels: <%= @hourly_timeline %>,        
        datasets:[{
          label:'How quickly the bin fills up each hour',          
          data: <%= @fill_up_rate %>,
          
          //backgroundColor:'green',
          backgroundColor:[
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
          'rgba(153, 102, 255, 0.6)',
          'rgba(255, 159, 64, 0.6)',
          'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Fill up hourly rate',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>