<style>
  body {
    position: relative;
    background: url('http://homefinder.com.my/wp-content/uploads/2016/08/2016062314002883_Kuala-Lumpur-City-Center-e1476177186323.jpg') no-repeat center center fixed;
    background-size: cover;
    /* width: 100%; */
    /* height: 100%; */
    min-width: 500px;
    min-height: 200px;
    /* margin: 0; */
    color: #fff;
    font-family: 'Montserrat';
  }
</style>

<div class="h-100 container" id="login-container">
    <div class="h-100 row d-flex align-items-center">
        <div class="col-md-8" id="banner">
            <h1>Smart City</h1>
            <h2>Smarter Waste Management</h2>
        </div>
        <div class="col-md-4" id="login-form">
            <%= form_for(:user, url: "/login") do |f| %>

            <div class="field">
              <%= f.label :login, "Username" %><br />
              <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>

          <% end %>  
        </div>
    </div>
</div>
