<div class="container conatiner-fluid login-container"> 

  <%= form_for(:user, url: "/login") do |f| %>
  <div class="form-group">
   <%= f.label :email %><br />
   <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
 </div>

 <div class="form-group">
   <%= f.label :password %><br />
   <%= f.password_field :password, autocomplete: "current-password" %>   
 </div>


 <div class="actions">
  <%= f.submit "Log in" %>
</div>
<% end %>

<%= button_to 'Login', "/users/dashboard" , method: :post, :class => 'btn btn-success btn-block' %>



<%#= form_for :session, url: "", id: "session-form", :html => {:class => "login-form"} do |form| %> 

<!-- <div id="login-box" class="login-box">

 <div class="form-group">  
  <input class="form-control input-sm" type="text" placeholder="Client Credentials" style='text-align: center;' name="session[email]">
</div>

<div class="form-group">  
  <input class="form-control" type="password" placeholder="Password" style='text-align: center;' name="session[password]">
</div>                    

<div class="form-group">   -->
  <!-- Put submit button HERE -->

</div>        

</div>
<%# end %>




</div>
