<!DOCTYPE html>
<html>
  <head>
    <title>Binberries Smart City</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if controller_name == "braintree" %>
      <%= javascript_include_tag "braintree", 'data-turbolinks-track': true %>
    <% end %>
    <% if controller_name == "static" %>
      <%= javascript_include_tag "static", 'data-turbolinks-track': true %>
    <% end %>
    <% if controller_name == "users" %>
      <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
      <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <% end %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
  </head>

  <body id="page-top">

    <%= render partial: "layouts/navbar" %>

    <%= yield %>

  </body>

  
  <%= render partial: "layouts/footer" %>

</html>
