<!DOCTYPE html>
<html>
  <head>
    <title>Binberries Smart City</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< HEAD
=======

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "braintree", 'data-turbolinks-track': true  %>
    <% if controller_name == "static" %>
      <%= javascript_include_tag "static", 'data-turbolinks-track': true  %>
    <% end %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
  </head>

  <body id="page-top">

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg <% if controller_name == "static" %>fixed-top <% end %><% if controller_name != "static" %>navbar-shrink<% end %>" id="mainNav">
      <div class="container">
        <%= link_to "Binberries", root_path, class: "navbar-brand js-scroll-trigger" %>   
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <% if !user_signed_in? %>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#solutions">Homea</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#subscriptions">Subscriptions</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                <%= link_to "Client Login", "/sign_in", class: "nav-link"%> 
                </li>
            <% else %>
                <li class="nav-item">         
                    <%= link_to "Dashboard", users_path, class: "nav-link"%>
                </li>
                <!-- Rails Admin Detection -->
                <% if current_user.admin? %>
                <li class="nav-item">
                <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
                </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "Sign Out", "/sign_out", method: :delete, class: "nav-link"%>   
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%# <%= render partial: "layouts/flash_devise" %>
>>>>>>> merge

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "braintree", 'data-turbolinks-track': true  %>
    <% if controller_name == "static" %>
      <%= javascript_include_tag "static", 'data-turbolinks-track': true  %>
    <% end %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
  </head>

  <body id="page-top">

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg <% if controller_name == "static" %>fixed-top <% end %><% if controller_name != "static" %>navbar-shrink<% end %>" id="mainNav">
      <div class="container">
        <%= link_to "Binberries", root_path, class: "navbar-brand js-scroll-trigger" %>   
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <% if !user_signed_in? %>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#solutions">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#subscriptions">Subscriptions</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                <%= link_to "Client Login", "/sign_in", class: "nav-link"%> 
                </li>
            <% else %>
                <li class="nav-item">         
                    <%= link_to "Dashboard", users_path, class: "nav-link"%>
                </li>
                <!-- Rails Admin Detection -->
                <% if current_user.admin? %>
                <li class="nav-item">
                <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
                </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "Sign Out", "/sign_out", method: :delete, class: "nav-link"%>   
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%# <%= render partial: "layouts/flash_devise" %>

    <%= yield %>

  </body>

  
  <%= render partial: "layouts/footer" %>

</html>
