
<div class="jumbotron">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag('analytics.png', :class => "mx-auto d-block img-fluid homepage-pic") %>     
      </div>
      <div class="col-sm-12 col-md-6">
        <h1>Binberries</h1>
        <h2> We are an awesome company </h2>
        <p>These are some of the cool things we do</p>
        <%= button_to 'Subscription Plans', "subscriptions/pricing_tables", method: :post, :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>

<div class="container container-fluid">
  <div class="row h-100">

    <div class="col-sm-12 text-center">
      <h2>Solutions</h2>
    </div>

    <div class="col-md-4 h-100">
      <div class="card homepage-card">
        <%= image_tag('monitoring.jpg', :class => "mx-auto d-block img-fluid homepage-pic") %>
        <div class="card-body">          
          <p class="card-text">Intelligent Monitoring is the IoT solution that is revolutionizing how Smart Cities and private companies service their container assets.</p>
          <%= link_to "tell me more" "" %> 
        </div>
      </div>      
    </div>  

    <div class="col-md-4 h-100">
      <div class="card homepage-card">
        <%= image_tag('raspberry_pi.jpg', :class => "mx-auto d-block img-fluid homepage-pic") %>
        <div class="card-body">          
          <p class="card-text">SmartBin's IoT level sensors are the world’s smartest and most widely deployed. Our suite of sensors are compact, robust, wireless, and proven in many container types.</p>
          <%= link_to "tell me more" "" %> 
        </div>
      </div>      
    </div>

    <div class="col-md-4 h-100">
      <div class="card homepage-card">
        <%= image_tag('analytics.png', :class => "mx-auto d-block img-fluid homepage-pic") %>
        <div class="card-body">          
          <p class="card-text">Monitor your containers and plan optimized routes from anywhere. SmartBin Live is the IoT game changer for collectors and distributors around the world.</p>
          <%= link_to "tell me more" "" %> 
        </div>
      </div>      
    </div>

  </div>

</div>


